@mjml()
<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all font-family="'Barlow', 'Helvetica', 'Arial', sans-serif">
      </mj-all>
      <mj-button background-color="#3700E3">
      </mj-button>
    </mj-attributes>
    <mj-font href="https://fonts.googleapis.com/css?family=Barlow:normal,italic,bold&display=swap" name="Barlow">
    </mj-font>
  </mj-head>

  <mj-body width="600px" background-color="#E7F1F3">
    <mj-text font-size="0px">
      {{ new Date().getTime() }}
    </mj-text>

    {{-- add header --}}
    <mj-section padding="0px">
      <mj-column padding="0">
        <mj-spacer height="32px">
        </mj-spacer>
      </mj-column>
    </mj-section>
    <mj-section background-color="#3700E3" padding="48px">
      <mj-column padding="0">
        <mj-image align="left" padding="0px" src="{{ companyLogo }}" width="90px">
        </mj-image>
        <mj-spacer height="12px">
        </mj-spacer>
        <mj-text color="#fff" font-size="48px" padding="10px">
          <strong>News and updates</strong>


        </mj-text>
      </mj-column>
    </mj-section>

    {{{ await $slots.content() }}}
    <mj-text font-size="0px">
      {{ new Date().getTime() }}
    </mj-text>

    {{-- add footer --}}
    <mj-section padding-bottom="32px" padding-left="48px" padding-right="48px" padding-top="32px" padding="48px">
      <mj-column padding="0">
        <mj-text align="center" color="#5C5C5C" font-size="14px" line-height="1.5" padding="0px">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.<br /> <br /> <span style="text-decoration: underline;">Unsubscribe</span>
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>
@end