@layout.emailMaster({title: "tariq"})

@slot('content')
<mj-section background-color="#fff" padding-bottom="23px" padding-left="48px" padding-right="48px" padding-top="56px"
  padding="48px">
  <mj-column padding="0">
    <mj-text font-size="30px" line-height="1.5" padding="0px">
      <strong>Consectetur adipiscing elit, sed do</strong>
    </mj-text>
    <mj-spacer height="8px">
    </mj-spacer>
    <mj-text font-size="20px" line-height="1.5" padding="0px">
      Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur.
    </mj-text>
    <mj-spacer height="40px">
    </mj-spacer>
    <mj-button align="left" border-radius="0px" font-size="20px" line-height="1.5" padding="0px">
      <strong>Try it now</strong>
    </mj-button>
    <mj-spacer height="40px">
    </mj-spacer>
    <mj-image fluid-on-mobile="true" padding="0px" src="https://cdn.getvero.com/dd-editor/templates/top-news/1.png">
    </mj-image>
    <mj-spacer height="46px">
    </mj-spacer>
    <mj-divider border-color="#3700E3" border-style="solid" border-width="2px" padding-bottom="10px" padding-left="0"
      padding-right="0" padding-top="10px" padding="10px 0">
    </mj-divider>
  </mj-column>
</mj-section>
<mj-section background-color="#fff" padding-bottom="56px" padding-left="48px" padding-right="48px" padding-top="23px"
  padding="48px">
  <mj-column padding="0">
    <mj-text font-size="30px" line-height="1.5" padding="0px">
      <strong>Duis aute irure dolor</strong> <br /> <strong></strong>
    </mj-text>
    <mj-spacer height="8px">
    </mj-spacer>
    <mj-text font-size="20px" line-height="1.5" padding="0px">
      Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur.
    </mj-text>
    <mj-spacer height="40px">
    </mj-spacer>
    <mj-button align="left" border-radius="0px" font-size="20px" line-height="1.5" padding="0px">
      <strong>Find out more</strong>
    </mj-button>
    <mj-spacer height="40px">
    </mj-spacer>
    <mj-image fluid-on-mobile="true" padding="0px" src="https://cdn.getvero.com/dd-editor/templates/top-news/2.png">
    </mj-image>
  </mj-column>
</mj-section>
@endslot

@end